services:
  web:
    build: .
    container_name: sportswear_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - REDIS_URL=redis://redis:6379/1

  redis:
    image: redis:alpine
    container_name: sportswear_redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: sportswear_rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"

  celery_worker:
    build: .
    container_name: sportswear_celery_worker
    command: celery -A backend worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - rabbitmq
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  celery_beat:
    build: .
    container_name: sportswear_celery_beat
    command: celery -A backend beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - rabbitmq
    env_file:
      - .env

volumes:
  static_volume:
  media_volume:
